<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if all_books|length == 0 %}
    <p>Library is empty</p>
    {% else %}
    <ul>
      {%for book in all_books%}
      <li>
        <form action="{{url_for("delete", id=book["id"])}}", method="post">
          <button>Delete</button>
          {{book["title"]}} - {{book["author"]}} - {{book["rating"]}}/10 
          <a href="/edit/{{book["id"]}}">Edit Rating</a> </li>
        </form>
      {% endfor %}
    </ul>
    {% endif %}

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
